<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foxit.uiextensions">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="com.foxit.uiextensions.provider.FoxitFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name="com.foxit.uiextensions.modules.panzoom.floatwindow.service.FloatWindowService" />
        <service android:name="com.foxit.uiextensions.annots.multimedia.AudioPlayService" />

        <receiver android:name="com.foxit.uiextensions.annots.multimedia.PhoneStateBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
